<div class="container">
  <div class="row">
      <div class="form form-horizontal">
        <%= form_for(@jobdemand) do |f| %>
  <% if @jobdemand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobdemand.errors.count, "error") %> prohibited this jobdemand from being saved:</h2>

      <ul>
      <% @jobdemand.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <label class="col-md-2">Title</label>
    <input type="text" class="col-md-10" name="title">
  </div>
  <div class="form-group">
    <label class="col-md-2">Overview</label>
    <input type="text" class="col-md-10" name="overview">
  </div>
  <div class="form-group">
    <label class="col-md-2">Responsibility</label>
    <input type="text" class="col-md-10" name="responsibility">
  </div>
  <div class="form-group">
    <label class="col-md-2">Competency</label>
    <input type="text" class="col-md-10" name="competency">
  </div>
  <div class="form-group">
    <label class="col-md-2">Education</label>
    <input type="text" class="col-md-10" name="education">
  </div>
  <div class="form-group">
    <label class="col-md-2">Work experiene</label>
    <input type="text" class="col-md-10" name="workexperience">
  </div>
  <div class="form-group">
    <label class="col-md-2">Language</label>
    <input type="text" class="col-md-10" name="launguage">
  </div>
  <div class="form-group">
    <label class="col-md-2">Other</label>
    <input type="text" class="col-md-10" name="other">
  </div>
  
  <div class="actions">
    <button class="btn btn-success pull-right" type='Submit'>Submit</button>
  </div>
<% end %>
      </div>
  </div>
</div>


