<!DOCTYPE html>
<html>
<head>
</head>

<%= render layout: 'shared/search_box' do %>

<div class="container">
	<h1 style="text-align:center">Editing Jobdemand</h1>

<%= render 'form' %>

<button class="btn btn-success"><%= link_to 'Show', @jobdemand %></button>  
<button class="btn btn-danger"><%= link_to 'Back', jobdemands_path %></button> 
</div>
<% end %>

</html>


