
<!DOCTYPE html>
<html>
<head>
</head>

<%= render layout: 'shared/search_box' do %>
<div class="container">
	<h1 style="text-align:center">New Jobdemand</h1>

<%= render 'form' %>
<% end %>
</div>


</html>

