<div class="container">
  <div class="row">
      <div class="form-horizontal">
  <%= form_for(@company) do |f| %>
    <% if @company.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

        <ul>
        <% @company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div class="form-group">
        <div class="col-md-2">
          <label>Name</label>
        </div>
        <div class="col-md-10">
          <input type="text" name="name" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2">
          <label>President</label>
        </div>
        <div class="col-md-10">
          <input type="text" name="president" class="form-control">
        </div>
      </div>
      <div class="actions">
        <button class="btn-success pull-right" type="Submit">Submit</button> 
      </div>
  <% end %>
</div>
  </div>
</div>

