<!DOCTYPE html>
<html>
<head>
</head>

<%= render layout: 'shared/search_box' do %>

<h1 style="text-align:center">Editing Company</h1>

<%= render 'form' %>

<button class="btn-success">Show</button> 
<button class="btn-info">Back</button> 
<% end %>

</html>





