<!DOCTYPE html>
<html>
<head>
</head>

<%= render layout: 'shared/search_box' do %>
<div class="container">
	<h1 style="text-align:center">New Admission</h1>

<%= render 'form' %>
<button class="btn btn-danger"><%= link_to 'Back', university_admissions_path(@admission.university) %></button> 
<% end %>
</div>


</html>



