
<!DOCTYPE html>
<html>
<head>
</head>

<%= render layout: 'shared/search_box' do %>
<div class="container">
	<h1 style="text-align:center">Editing Study Aboard</h1>

<%= render 'form' %>

<button class="btn btn-danger"><%= link_to 'Back', university_study_aboard_path(@study_aboard.university, @study_aboard) %></button> 
<% end %>
</div>


</html>


